#content{
    width: 800px;
    height: 300px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}
#row_one
{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
}
#row_two
{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
}
#row_three
{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
}
#row_four
{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
}
#cube
{
    background-color: cadetblue;
    outline: solid black;
}